body {
  margin: 0;
  font-family: sans-serif;
  background: #2f2f2a;
}

.home .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2em;
  height: calc(100vh - 4em);
}

.home .row .col:nth-of-type(1) {
  flex: 2;
}

.home .row .col:nth-of-type(2) {
  flex: 3;
  padding: 15px;
}

.home .row .col .title {
  font-size: 2rem;
  color: #ff6e28;
  margin: 0px 0 0.5em;
}

.home .row .col .content {
  color: #ccc;
  margin: 0;
  font-size: 1.25rem;
}

.home .row .col .link {
  border: 1px solid;
  color: #ccc;
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 0;
  transition: .3s;
}

.home .row .col .link:hover {
  color: #ff6e28;
}

.home .row .col img {
  width: 100%;
}

.signup {
  width: 90%;
  max-width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ff6e28;
  border-radius: 4px;
  padding: 20px;
}

.signup .title {
  margin-top: 0;
  font-size: 1.5rem;
  color: #ff6e28;
  text-align: center;
}

.signup .contents .form-group {
  margin: 10px 0;
  position: relative;
}

.signup .contents .form-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #ff6e28;
  transition: .3s;
}

.signup .contents .form-group label.active {
  top: 0;
  background: #2f2f2a;
  padding: 0 10px;
  left: 5px;
  font-size: .75rem;
  color: #ccc;
}

.signup .contents .form-group input {
  width: calc(100% - 30px);
  background: transparent;
  border: 1px solid #ff6e28;
  color: #ccc;
  border-radius: 4px;
  padding: 12px 15px;
  transition: .3s;
  outline: 0;
  font-size: 1rem;
}

.signup .contents .form-group input:focus {
  border-color: #ccc;
}

.signup .contents .submit {
  background: transparent;
  border: 1px solid;
  color: #ff6e28;
  transition: .3s;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin: 15px 0 0;
}

.signup .contents .submit:hover {
  color: #ccc;
  cursor: pointer;
}

.signup .contents .login-link {
  margin-bottom: 5px;
  color: #ff6e28;
  text-align: center;
}

.signup .contents .login-link .link {
  color: #ff6e28;
  margin-left: 5px;
  transition: .3s;
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
}

.signup .contents .login-link .link:hover {
  color: #ccc;
}

.signup .error {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff6e28;
  font-weight: bolder;
  width: 400px;
  text-align: center;
}

.login {
  width: 90%;
  max-width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ff6e28;
  border-radius: 4px;
  padding: 20px;
}

.login .title {
  margin-top: 0;
  font-size: 1.5rem;
  color: #ff6e28;
  text-align: center;
}

.login .contents .form-group {
  margin: 10px 0;
  position: relative;
}

.login .contents .form-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #ff6e28;
  transition: .3s;
}

.login .contents .form-group label.active {
  top: 0;
  background: #2f2f2a;
  padding: 0 10px;
  left: 5px;
  font-size: .75rem;
  color: #ccc;
}

.login .contents .form-group input {
  width: calc(100% - 30px);
  background: transparent;
  border: 1px solid #ff6e28;
  color: #ccc;
  border-radius: 4px;
  padding: 12px 15px;
  transition: .3s;
  outline: 0;
  font-size: 1rem;
}

.login .contents .form-group input:focus {
  border-color: #ccc;
}

.login .contents .submit {
  background: transparent;
  border: 1px solid;
  color: #ff6e28;
  transition: .3s;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin: 15px 0 0;
}

.login .contents .submit:hover {
  color: #ccc;
  cursor: pointer;
}

.login .contents .signup-link {
  margin-bottom: 5px;
  color: #ff6e28;
  text-align: center;
}

.login .contents .signup-link .link {
  color: #ff6e28;
  margin-left: 5px;
  transition: .3s;
}

.login .contents .signup-link .link:hover {
  color: #ccc;
}

.login .error {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff6e28;
  font-weight: bolder;
  width: 400px;
  text-align: center;
}

.notes-container .sidebar {
  position: absolute;
  width: 270px;
  height: calc(100% - 100px);
  border-right: 1px solid #ff6e28;
  padding: 10px 10px 90px
}

.notes-container .sidebar .details-container .name-logo {
  height: 25px;
  width: 25px;
  padding: 5px;
  border: 2px solid #ff6e28;
  border-radius: 50%;
}

.notes-container .sidebar .details-container .email {
  width: 220px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ff6e28;
  line-height: 40px;
  margin-left: 10px;
}

.notes-container .sidebar .search-container {
  position: relative;
  margin-top: 15px;
}

.notes-container .sidebar .search-container input {
  background: transparent;
  border: 1px solid;
  color: #ccc;
  padding: 10px 35px 10px 10px;
  font-size: 1rem;
  border-radius: 4px;
  width: calc(100% - 50px);
  outline: 0;
  transition: .3s;
}

.notes-container .sidebar .search-container input::placeholder {
  color: #ccc; 
  transition: .3s;
}

.notes-container .sidebar .search-container img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  filter: brightness(0) invert(1);
  transition: .3s;
}

.notes-container .sidebar .search-container input:focus {
  color: #ff6e28;
}

.notes-container .sidebar .search-container input:focus::placeholder {
  color: #ff6e28;
}

.notes-container .sidebar .search-container input:focus ~ img {
  filter: none;
}

.notes-container .sidebar .notes-list {
  margin-top: 25px;
  padding-top: 10px;
  border-top: 1px solid #555;
}

.notes-container .sidebar .notes-list .item {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: .3s;
  cursor: pointer;
}

.notes-container .sidebar .notes-list .item img {
  filter: brightness(0) invert(1);
  flex-basis: 30px;
  color: #ccc;
  transition: .3s;
}

.notes-container .sidebar .notes-list .item p {
  flex: 1;
  margin: 0 0 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
  color: #ccc;
}

.notes-container .sidebar .notes-list .item:hover, .notes-container .sidebar .notes-list .item.active {
  border-color: #ff6e28;
}

.notes-container .sidebar .notes-list .item:hover img, .notes-container .sidebar .notes-list .item.active img {
  filter: none;
}

.notes-container .sidebar .notes-list .item:hover p, .notes-container .sidebar .notes-list .item.active p {
  color: #ff6e28;
}

.notes-container .sidebar .add-notes {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.notes-container .sidebar .add-notes .plus {
  font-size: 40px;
  border: 2px solid;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  color: #ff6e28;
}

.notes-container .note {
  position: relative;
  width: calc(100% - 340px);
  margin-left: 300px;
  padding: 10px 20px;
}

.notes-container .note .header .title {
  font-size: 2.5rem;
  margin: 10px 0 20px;
  color: #ff6e28;
}

.notes-container .note .content {
  height: calc(100vh - 90px);
  overflow: scroll;
}

.notes-container .note .content p {
  line-height: 1.3;
  font-size: 1rem;
  color: #ccc;
}